@import './variables.css';

.comentary-container{
    padding: 40px 60px 0;
    list-style: none;
    border-top: 2px solid var(--main-color);
}

.comentary-item{
    margin-bottom: 40px;
    border-bottom: 2px solid var(--main-color);
}

.comentary-title{
    color: var(--main-color);
}

.comentary-description{
    line-height: 30px;
}